<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>YDMC Reservation</title>

    <link href="http://cdn.sencha.com/ext/gpl/4.2.0/resources/css/ext-all.css" rel="stylesheet" />
    <link rel="stylesheet" href="/lib/extensible/resources/css/extensible-all.css">
    <script type="text/javascript" src="/lib/extensible/Extensible-config.js"></script>

    <script type="text/javascript" src="/app/Init.js"></script>
</head>
<body>
</body>
</html>
